.card {
    background-color: rgb(135, 135, 216);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
    margin: 10px; 
}

.card img {
    height: 50px;
    width: 50px;
}

h1, p {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

button {
    width: fit-content;
    border-radius: 7px;
    border: 0;
    display: flex;
    justify-content: center;
    padding: 3px 7px;
}

a {
    text-decoration: none;
}